/* body{
    background-color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
li{
    list-style: none;
    width: max-content;
    padding: 10px 15px;
}
a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
}
#logo{
    float: left;
}
#more{
    float: right;
} 
.menu ul:first-child{
    order:1;
}
.menu ul:last-child{
    order:2;
}
 .menu{
    background-color: rgb(0, 0, 0);
    display: flex;
}
.menu ul{
    display:flex;
    justify-content: center;
    margin-right: 10%;
    padding: 0;
    margin: 10px;
    width: 80%;
    
}
.menu #logo{
    margin: 0 10px;
    align-items: center;
    color: white;
    font-weight: 25px;
}
#logo h2{
    margin: 10px 30px;
    font-size: 25px;
}  
.menu .a li:hover{
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    background-color: rgb(120, 120, 120);
}
#more{
    color: white;
} */

/* body */
.container{
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
}

.showcase{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.showcase video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.showcase .logoname{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 200px;
    color: rgb(255, 255, 255);
    mix-blend-mode:multiply;
}
/* .box {
    display: inline-flex;
    box-sizing: border-box;
    --spacing:30px;
    --column:4;
    width: calc(100% / var(--column));
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}
.box img{
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
}
.box div{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}
h1{
    width: 100%;
    text-align: center;
}
h4{
    display: inline;
} */
.box2 {
    display: inline-flex;
    margin: auto;
}
.box2 img{
    width: 100%;
    border-radius: 10px;
}
.box2 div{
    margin: 10px;
}

/* .box #img:hover{
    box-shadow:gray 2px 2px 10px 2px;
    transition: 0.2s ease-in-out;
}
.box input{

    opacity: 0;
    font-size:15px;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding: 0 10px;
    font-weight: bolder;
    
} */
/* .box div:hover input{
    opacity: 1;
    
}
.box div input:hover{
    color: red;
    transform: scale(1.2);
    border: 1px solid red;
    
}
.box #btn{
    text-align: center;
    margin: 0;
    padding: 0;
} */
.all{
    text-align: center;
    margin:30px 0;
}
.all a{
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ff802c;
    color: #ff802c;
}
.all a:hover{
    background-color: #ff802c;
    color: white;
}






   .footer{
    width: 100%;
    margin: auto;
    color: #ffffff;
    display: flex;
    background-color: #000;
   }
   .footer .ft{
    width: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
   }
   .ft p{
    display: flex;
    flex-direction: column;
   }
   .ft p a{
    margin-bottom: 5px;
   }



   /* menu */
   *{
    box-sizing: border-box;
   }
   body{
    background-color: #24252a;
    font-family:'Courier New', Courier, monospace ;
   }
   .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
   }
   .menu .a{
    display: flex;
    margin: 0;
    padding: 0;
   }
   a{
    text-decoration: none;
   }
   li{
    list-style: none;
   }
   .menu ul li{
    float: left;
    padding: 10px;
    color:#fff;
   }
   .menu a{
    color: #fff;
    font-weight: 600;
   }
   .menu h2{
    font-size: 50px;
    color: #fff;
    margin: 0;
   }
   /* hover */
   .menu .a a:hover{
    color: rgb(244, 53, 110);
    border-bottom: 2px solid #fff;
   }
   #more li{
    background-color: rgb(244, 53, 110);
    border-radius: 20px;
    font-weight: 600;
    margin-left: 10px;
   }
   .fa-bars{
    top: 45px;
    right: 2%;
    position: absolute;
    color: #fff;
    font-size: 25px;
    display: none; 
   }
   .cart-icon{
    width: 150px;
    margin: 0 20px;
   }
   .login{
    background-color: rgb(244, 53, 110);
    border-radius: 20px;
    font-weight: 600;
    margin-left: 10px;
   }

   

/* *****screen***** */
@media screen and ( max-width: 870px){
    .container{margin: auto;}
    .cards{ --spacing:0;}
    .card
    {
    --spacing:5px;
    --column:2;
    margin-left: 0;
    }
    .card-img img{width: 60%;}

    
    .menu{display: block;}
    .fa-bars{display: block !important;}
    .menu .a{
        flex-direction: column;
    }
    .menu .open-list {
        background-color: coral;
        text-align: right;
        display: none;  
    }
    .menu .cart-icon {
       float: right;
       top: 45px;
       right: 3%;
       position: absolute;
    }

    .active{
        display: flex !important;
        flex-direction: column;
        width: 300px;
        height: 500px;
        right: 0;
        position: absolute;
        transition: all 1s ease;
    }
    .menu .open-list .a{
        margin-left: 70%;
        transform: translate(-50%);
        width: 150px;
    }
    /* hover */
    .menu .a li:hover{
        background-color: rgb(244, 53, 110);
        width: 100%;
        transition: 0.5s;
        color: #fff;
        border-radius: 10px;
    }
    .footer{display:none;}
   
}
@media screen and (max-width: 1150px) and ( min-width: 871px){
    .container{margin: auto;}
    .cards{margin: 0;}
    .card{--column:3;}
    .card-img img{width: 70%;}

    
     
    .menu{display: block;}
    .fa-bars{display: block !important;}
    .menu .a{
        flex-direction: column;
    }
    .menu .open-list {
        background-color: coral;
        text-align: right;
        display: none;  
    }
    .menu .cart-icon {
       float: right;
       top: 45px;
       right: 3%;
       position: absolute;
    }

    .active{
        display: flex !important;
        flex-direction: column;
        width: 300px;
        height: 500px;
        right: 0;
        position: absolute;
        transition: all 1s ease;
    }
    .menu .open-list .a{
        margin-left: 70%;
        transform: translate(-50%);
        width: 150px;
    }
    /* hover */
    .menu .a li:hover{
        background-color: rgb(244, 53, 110);
        width: 100%;
        transition: 0.5s;
        color: #fff;
        border-radius: 10px;
    }
}


